################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TariffManagement.Frontend/tariff-verivox/src/assets
