

<div class="container-fluid">
    <h2 card-header text-center>{{title}}</h2>
    <div class="card-body">
    <table class="layout table table-responsive col-md-12">
    <thead>
        <tr>
          <th><a (click)="sortBy('id')">Id</a></th>
          <th><a (click)="sortBy('name')">Name</a></th>
          <th>Download/Upload Speed</th>
          <th>Benefits</th>
          <th><a (click)="sortBy('price')">Price</a></th>
        </tr>
    </thead>
    <tr *ngFor="let tar of tariffList">
        <td>
            {{tar.id}}
        </td>
        <td class="tariff-name">
            <div>{{tar.name}}</div>
        </td>
        <td>
            <div class="font-weight-bold">
                Download:
                <div class="h-25 d-inline-block">
                    <span class="border"><i class="bi bi-download"></i>
                    {{tar.downloadSpeed}}</span>
                </div>
            </div>

            <div class="font-weight-bold">
                Upload:
                <div>
                    <span><i class="bi bi-upload"></i></span>
                    {{tar.uploadSpeed}}
                    
                </div>
            </div>
        </td>
        <td>
            <div>
                <ul>
                    <li *ngFor="let benefit of tar.benefits">
                        {{benefit }}
                    </li>
                </ul>
            </div>
        </td>
        <td>
            Price: {{tar.price}}
        </td>
    </tr>
</table>
</div>
</div>
